body,
html {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  line-height: 18px;
  background: url('../img/space.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face{
  font-family: dostype;
  src: url('./fonts/neodgm.ttf');
}

@keyframes blink {
  0% {background-color: black; color: white;}
  50% {background-color: white; color: black;}
}
@-webkit-keyframes blink {
  0% {background-color: black; color: white;}
  50% {background-color: white; color: black;}
}

@keyframes lose-focus {
  0% {background-color: black; color: white;}
  50% {background-color: black; color: white;}
}
@-webkit-keyframes lose-focus {
  0% {background-color: black; color: white; border: white;}
  50% {background-color: black; color: white; border: white;}
}

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-thumb {background-color: rgb(38,86,138); border-radius:8px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment, ::-webkit-scrollbar-track {width:0;height:0;} 

body {
  font-family: dostype;
  background-color: black;
  color: white;
}

.back-panel {
  height: 50%;
  margin-bottom: -240px;
  float: left;
}

.title-text {
  text-align: center;
  padding-top: 1em;
}

.kernel-panel {
  width: 50%;
  height: 80%;
  clear: both;
  position: relative;
  margin: auto
}

.kernel {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1.5px solid rgb(38,86,138);
  border-radius: 10px;
  outline: none;
  background-color: black;
  vertical-align: middle;
  overflow: auto;
  font-family: dostype;
  font-size: 15px;
}

.command-line, .line {
  clear: both;
}

.line-right {
  float: right;
}

.error {
  clear: both;
  color: lightcoral;
}

.file {
  clear: both;
  color: lightgreen;
}

.directory {
  clear: both;
  color: lightskyblue;
}

.letter {
  float: left;
}

.current-path{
  float: left;
  color: gray;
}

.letter-caret {
  width: 7.5px;
  height: 14px;
  padding-left: 0.5px;
  color: black;
  background-color: white;
  animation: blink 1s 0.5s infinite step-end;
  float: left;
  border: none;
}

.content-title {
  clear: both;
  color: aquamarine;
}

.help-table {
  clear: both;
  border: none;
  line-height: 15px;
}

th {
  font-size: 16px;
  color: orange;
  text-align: left;
  font-weight: unset;
}

td {
  padding-left: 30px;
}

.underline {
  color: sandybrown;
  float: right;
  font-weight: 100;
  text-decoration: underline;
}