body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

@font-face{
  font-family: dostype;
  src: url('./fonts/neodgm.ttf');
}

@keyframes blink {
  0% {background-color: black; color: white;}
  50% {background-color: white; color: black;}
}

@-webkit-keyframes blink {
  0% {background-color: black; color: white;}
  50% {background-color: white; color: black;}
}

body {
  font-family: dostype;
  background-color: black;
  color: white;
}

.back-panel {
  height: 50%;
  margin-bottom: -240px;
  float: left;
}

.title-text {
  text-align: center;
  padding-top: 1em;
}

.kernel-panel {
  width: 50%;
  height:380px;
  clear: both;
  position: relative;
  margin: auto
}

.kernel {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: double;
  background-color: green;
  vertical-align: middle;
  overflow: auto;
  font-family: dostype;
  font-size: 15px;
}

.command-line, .line {
  clear: both;
}

.letter, .current-path {
  float: left;
}

.letter-caret {
  width: 7.5px;
  height: 14px;
  padding-left: 0.5px;
  background-color: white;
  animation: blink 1s 1s infinite step-end;
  float: left;
}